.vs-pagination--nav {
  padding: 5px;

  .is-current {
    background-color: #7367F0!important;

    > a {
      color: #ffffff;
    }
  }
  .vs-pagination--li  {
    a {
      width: 100%;
      text-align: center;
      padding: 5px 0;
    }
  }
}

.vs-table-text {
  .sort-th {
    .up-sort, .down-sort {
      font-size: 1.7em;
    }
  }
}

.vs-table {
  .img-round {
    border-radius: 100%;
    width: 50px;
    height: 50px;
  }
}
