.vs-pagination--nav {
  padding: 5px;

  .is-current {
    background-color: #7367F0!important;

    > a {
      color: #ffffff;
    }
  }

}

.vs-table-text {
  .sort-th {
    .up-sort, .down-sort {
      font-size: 1.7gem;
    }
  }
}
