// variables
$primary: #1e6db5;

// mixins
@mixin bgColor($color) {
  background-color: $color;
}

@mixin scrollCustom {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    @include bgColor(#f5f5f5);
  }

  &::-webkit-scrollbar {
    width: 8px;
    @include bgColor(#f5f5f5);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    @include bgColor(#c1c1c1);
    border-radius: 5px;
  }
}
@mixin scrollHorizontal {
  cursor: pointer;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #c1c1c1;
    border-radius: 5px;
  }
}
@mixin scrollHorizontalNone {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    background: transparent;
    border-radius: 5px;
  }
}
@mixin customTable {
  tr {
    th {
      .vs-table-text {
        .sort-th {
          .up-sort {
            font-size: 14px;
          }

          .down-sort {
            font-size: 14px;
          }
        }
      }
    }

    td {
      padding: 2px !important;
      padding-left: 8px !important;
      padding-right: 6px !important;
    }
  }
}

// END MINXINS

body {
  @include scrollCustom();
  color: #000000;
}

.layout--main {
  .main-menu-sidebar {
    .vs-sidebar--item {
      a {
        color: #000000de;
        font-weight: 500;
      }
    }
  }
}

.product-category {
  .con-vs-chip {
    .text-chip {
      font-weight: 600;
    }
  }
}

.vs-input--label {
  color: rgba(0, 0, 0, 0.84);
}

#data-list-list-view {
  .vs-con-table {
    .vs-table {
      border-spacing: 0 5px !important;

      @include customTable();
    }

    .vs-table--thead {
      th {
        vertical-align: middle;
      }
    }
  }
}

.vs-table--tbody-table {
  @include customTable();
}

.header-sidebar {
  .logo {
    img {
      transform: scale(3.6) translateX(22px);
    }
  }
}

.vs-pagination--nav {
  padding: 5px;

  .is-current {
    background-color: $primary !important;

    > a {
      color: #ffffff;
    }
  }

  .vs-pagination--li {
    a {
      width: 100%;
      text-align: center;
      padding: 5px 0;
    }
  }
}

.vs-table-text {
  .sort-th {
    .up-sort,
    .down-sort {
      font-size: 1.7em;
    }
  }
}

.vs-table {
  .img-round {
    border-radius: 100%;
    width: 50px;
    height: 50px;
  }
}

.popup-custom-1024 > .vs-popup {
  width: 1024px !important;
}

.popup-custom-968 > .vs-popup {
  width: 968px !important;
}

.popup-custom-768 > .vs-popup {
  width: 768px !important;
}

.font-weight-600 {
  font-weight: 600;
}

.vdp-datepicker.picker-custom input {
  width: 100% !important;
}

.back-page {
  width: 35px;
  height: 35px;

  padding: {
    top: 9px;
    right: 12px;
  }
}

.con-vs-chip {
  text-align: center;
}

.vx-card.text-center {
  .vx-card__title {
    width: 100%;
    text-align: center;
  }
}

.background-cover {
  background-size: cover !important;
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}

.scrollbar-custom {
  .vs-popup--content {
    @include scrollCustom();
  }
}
.flatpickr-calendar {
  .flatpickr-weekdays {
    .flatpickr-weekdaycontainer {
      width: 100%;
      display: flex;
    }
  }
}
ul.vs-dropdown--menu {
  .con-vs-checkbox {
    span.con-slot-label {
      text-transform: capitalize;
    }
  }
}
.h-100 {
  height: 100%;
}
.table-custom th {
  border-right: 1px solid #ccc;
}
.table-custom {
  .vs-table--tbody {
    background: transparent;
    transition: 0.5s;

    @include scrollHorizontalNone();

    &:hover {
      @include scrollHorizontal();
    }
    table {
      @include scrollCustom();

      .vs-table--thead {
        .vs-table-text {
          justify-content: center;
        }
      }

      tr {
        .vs-table--td {
          min-width: 100px;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          padding-top: 10px !important;
          padding-bottom: 10px !important;
          text-align: center;
        }
      }
    }
  }
}
/*=========================================================================================
  File Name: _customize.scss
  Description: custom color 
=========================================================================================*/

.main-menu-sidebar .vs-sidebar--item .router-link-active,
.vs-chip-primary,
.vs-button-primary.vs-button-filled,
.bg-primary,
.vs-pagination--li.is-current,
.vs-pagination-primary .effect,
.vs-pagination-primary .vs-pagination--buttons:hover,
.bg-primary-gradient,
.vs-checkbox-small input:checked + .vs-checkbox,
.vs-checkbox-primary .vs-checkbox--check,
.hover\:bg-primary:hover,
.dropdown-custom .vs-dropdown--menu--after,
.vs-radio-primary .vs-radio--circle,
#simple-calendar-app .theme-default .cv-day.today .cv-day-number,
.vs-button-primary.vs-button-line .vs-button-linex {
  background-color: $primary !important;
}

.vs-button-primary.vs-button-line,
a:active,
a:visited,
a:hover,
a {
  color: $primary;
}

.main-menu-sidebar .header-sidebar .feather-icon svg {
  color: $primary !important;
}
.text-primary,
.vs-tabs-primary .activeChild button,
.custom-tab .con-ul-tabs ul li button:hover {
  color: $primary !important;
}

.main-menu-sidebar .vs-sidebar--item .router-link-active,
.bg-primary-gradient {
  background: linear-gradient(
    118deg,
    rgba($primary, 1),
    rgba($primary, 0.7)
  ) !important;
  box-shadow: 0px 0px 10px 1px rgba($primary, 0.7) !important;
}

.vs-button-primary.vs-button-filled:hover {
  box-shadow: 0 8px 25px -8px rgba($primary, 1) !important;
}

.border-primary {
  border-color: $primary !important;
}

.tr-table-state-primary,
.vs-table-primary .is-selected {
  background: rgba($primary, 0.05) !important;
  box-shadow: 0 0 1px 0 rgba($primary, 1) !important;
  color: $primary;
}

.vs-checkbox-primary input:checked + .vs-checkbox {
  border: 2px solid rgba($primary, 1) !important;
}

.vs-input-primary .vs-input--input:focus {
  border: 1px solid rgba($primary, 1) !important;
}
.vs-tabs-primary button:not(:disabled):hover {
  color: #fff !important;
}
.vs--searchable .vs__dropdown-toggle {
  height: 38px !important;
}
/* END CUSTOM COLOR */
